$very-light-gray: #e0e0e0 !default;

$topbar-height: 90px !default;
$topbar-background-color: #FFFFFF !default;
$menu-background-color: #FFFFFF !default;
$menu-alternative-background-color: #FFFFFF !default;
$menu-foreground-color: #000000 !default;
$admin-background-color: #b00 !default;

$link-color: #b00 !default;
$toc-link-color: #b00 !default;

$figure-caption-background-color: #b00 !default;
$figure-caption-color: #FFFFFF !default;

$primary-dark-color: #666 !default;
$primary-light-color: #e0e0e0 !default;
$very-dark-primary-color: #000 !default;
$footer-height: 76px;